body {
  background-image: url("https://i.etsystatic.com/12924969/r/il/ff6ffa/1028562043/il_1140xN.1028562043_ggw6.jpg");
}

.navbar-form {
	float: right;
	color: hotpink;
}

.navbar-form__input {
	background-color: hotpink;
}