
.myCarousel {
	background-color: red;
}
/* put your page styling customisations here! */

* {
  font-family: 'Comic Sans', script;
  transition: 1s;
  color: white;
}

h1, h2, h3, h4 {
  font-family: 'Creepster';
}

.btn:hover {
  background: red;
  color: white;
  transition: 1s;
}

a {
  animation: wobbleup 7s ease-in-out infinite;
}

.navbar  a {
  animation-name: none;
}

p, h1, h2, img {
  animation: wobbleside 10s ease-in-out infinite;
}
.no-animate {
  animation-name: none;
}

body {
    background-color: black;
}

@keyframes wobbleup {
  0% {transform: translate(0, 0) rotate(.5deg);}
  50% {transform: translate(0, -10px) rotate(-1deg);}
  100% {transform: translate(0,0) rotate(.5deg);}
}

@keyframes wobbleside {
  0% {transform: translate(-20px, 0) rotate(1deg);}
  50% {transform: translate(20px, 0) rotate(-.5deg);}
  100% {transform: translate(-20px, 0) rotate(1deg);}
}

* {
    margin: 0;
    padding: 0;
}
header {
    background-color:rgba(33, 33, 33, 0.9);
    color:#ffffff;
    display:block;
    font: 14px/1.3 Arial,sans-serif;
    height:50px;
    position:relative;
    z-index:5;
}
h2{
    margin-top: 30px;
    text-align: center;
}
header h2{
    font-size: 22px;
    margin: 0 auto;
    padding: 10px 0;
    width: 80%;
    text-align: center;
}
header a, header a:visited {
    text-decoration:none;
    color:#fcfcfc;
}


.buttonStyle, .buttonStyle:visited, .button:hover{
	background-color: green;
	border-radius: 10%;
	padding: 0.75em;
	color: GreenYellow;
	text-align: center;
	background-image: linear-gradient(rgb(153, 99, 84), rgb(166, 226, 44));
	margin-top: 1em;
}


input[type='text'] {
  margin-bottom: 2em;
  font-size: 1.5em;
}

textarea.form-control {
  height: 8em;
  margin-bottom: 2em;
  font-size: 1.5em;
}

label {
  font-size: 2em;
  letter-spacing: 5px;
  font-family: Creepster, sans-serif;
}

